.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    width: 100%;
}

.galleryItem {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 178px;
    width: 24%;
}
